/xaero/
/XaeroWaypoints_BACKUP*/
/shaderpacks/
/saves/
/logs/
/mods/
/resourcepacks/
/fancymenu_data/
/datapacks/
/crash-reports/

/command_history.txt
/usercache.json
/usernamecache.json
/options.txt
/emi.json
